# Docker ignore file
*.md
.git
.gitignore
Dockerfile
docker-compose.yml
*.log
*.swp
*.bak
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.env
*.sublime-project
*.sublime-workspace
node_modules
/build
/dist
